{{#each tracks }}
<div class="col-md-4">
  <div class="card card-track">
      <h5 class="card-title"> {{name}}</h5>
      <audio class="audio" controls >
          <source src={{preview_url}} type="audio/mpeg">  </audio>
    </div>
</div>
</div>
{{/each }}